{% extends "layout.twig" %}

{% block body %}
<p>Thanks for helping out! If you found anything you really want to tell me about, please
    <a href="https://github.com/georgeh/php-beerxml/issues">create an issue on GitHub</a>.</p>

    <p>By making sure that this works, you may be saving someone from having a ruined brew day. And doesn't that
    make <em>you</em> the real hero?</p>
{% endblock %}